<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:replace="/layout :: head">-->
<title>danh sách khách hàng</title>
</head>
<body>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/transaction/management}" method="get">
        <label><input  type="text" name="search"></label>
        <button type="submit" class="btn btn-primary"> search</button>
    </form>
</div>
<table id = "transaction">
    <thead>
    <tr>
        <th>Mã Giao Dịch</th>
        <th>Tên khách hàng</th>
        <th>Ngày Giao Dịch</th>
        <th>Loại dịch vụ</th>
        <th>Đơn giá</th>
        <th>Diện tích</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,cStatus : ${transactions}">
        <td th:text="${c.transactionCode}"></td>
        <td th:text="${c.customer.getCusName}"></td>
        <td th:text="${#temporals.format(c.getTransDate(), 'dd/MM/yyyy')}"></td>
        <td th:text="${c.getTransType()}"></td>
        <td th:text="${c.getTransPrice()}"></td>
        <td th:text="${c.getTransArea()}"></td>
        <td><a th:href="@{/customers/update/{id}(id=${c.getTransId()})}">chi tiết</a></td>
    </tr>
    </tbody>
</table>
<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
</html>