<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:replace="/layout :: head">-->
<title>danh sách khách hàng</title>
</head>
<body>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/transaction/management}" method="get">
        <label><input  type="text" name="search"></label>
        <button type="submit" class="btn btn-primary"> search</button>
    </form>
</div>
<table id = "customers">
    <thead>
    <tr>
        <th>Mã Giao Dịch</th>
        <th>Tên khách hàng</th>
        <th>Ngày Giao Dịch</th>
        <th>Loại dịch vụ</th>
        <th>Đơn giá</th>
        <th>Diện tích</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,cStatus : ${transactions}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getTransId()}"></td>
        <td th:text="${c.getCustomerId()}"></td>
        <td th:text="${c.getCusAddress()}"></td>
        <td th:text="${c.getProvince().getProvinceName()}"></td>
        <td th:text="${c.getCusPhone()}"></td>
        <td th:text="${c.getCusBirthday()}"></td>
        <td><a th:href="@{/customers/update/{id}(id=${c.getCusID()})}">update</a></td>
        <td><a th:href="@{/customers/delete/{id}(id=${c.getCusID()})}">delete</a></td>
    </tr>
    </tbody>
</table>

<a class="btn btn-primary" th:if="${customers.hasPrevious()}" th:href="@{/customer/management(page=${customers.number - 1})}">Previous</a>
<span th:text="${customers.number + 1}"></span> | <span th:text="${customers.totalPages}"></span>
<a class="btn btn-primary" th:if="${customers.hasNext()}" th:href="@{/customer/management(page=${customers.number + 1})}">Next</a>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>